*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: #C11926;
    color: white;
    display: flex;
    align-items: center;
    padding: 8px 100px;
  }
  
  .logo img {
    margin-right: 15px;
    height: 35px;
  }
  
  .barrapesquisa {
    flex: 1;
    display: flex;
  }
  
  .barrapesquisa input {
    flex: 1;
    padding: 10px;
    border-radius: 10px;;
    font-size: 14px;
  }
  
  
  .botoes {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .botoes .buttonCEP{
    margin: 15px;
    width: 8vw;
    height: 40px;
    background-color: #C11926;
    border-color: #C11926;
    color: white;
    font-size: 18px;
  }

  .botoes .buttonAcesso{
    margin: 15px;
    width: 8vw;
    height: 40px;
    background-color: #8b1c25;
    border-color: #8b1c25;
    color: white;
    font-size: 18px;
  }

  .container{
    display: flex;
    background: #C11926;
    align-items: center;
  }
    
  .container .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 100px;
    gap: 18px;
  }
  
  .container .menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }

  .container .extras {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    margin-left: auto;
    margin-right: 115px;
  }
  
    .extras a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
